@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

.back{
    background:rgba(0, 0, 0, 0.2) url(../scr/multimedia/imagenes/fondo_inm.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 800px;
    background-blend-mode:darken;
}

/* #nav{
    top: 0;
    left: 0;
    width: 100%;
}

#nav ul{
    text-align: right;
}

#nav li {
    display: inline-block;
} */

html{
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #79B7F5;
    margin: 0;
}

.back,.leaded h1{
    text-decoration:underline;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    color:#6FE8DE;
}

.back,.leaded h2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.leaded h2{
    padding: 0.4rem; 
}

.container_line {
     width: 100%;
     display: flex;
     justify-content: center;
}

.about_me .line{
    display: inline-block;
    width: 5rem;
    height: 0.3rem;
    background: #EEC8FA;
}

.line{
    display: block;
    width: 30%;
    height: 0.3rem;
    background: #EEC8FA;
    margin-top: 20px;
}

h1{
    color: #EEC8FA;
    text-align: center;
    font-size: 70px;
    height: 3vh;
    font-family:'Roboto Mono', monospace;
    margin-top: 0;
}

h2{
    display: inline-block;
    background-color: #EEC8FA;
    color: #7667E0;
    text-align:center;
    font-family:'Roboto Mono', monospace;
}

.me{
    margin-left: 10px;
    height: auto;
}

nav{
    background-color: #EEC8FA;
}

.menu{
    display: flex;
    justify-content: flex-end;
}
@media screen and(max-width:768){
    .navbar-collapse{
        justify-content: center;
    }
}

@media screen and(max-width:820){
    
}
@media screen and(max-width:1024){
    
}

 li a{
    display: block;
    color:#7063D6;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
} 

li a:hover{
    background-color: #BB9DC4;
}

/* nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EEC8FA;
} */


.active{
    background-color:#EEC8FA;
}

@media screen and (max-width:768px){
    #nav ul{
        text-align:left;
    }
    #nav{
        font-size: 20px;
    }

    .back,.leaded h1{
        font-size: 25px;
        
    }
    .back,.leaded h2{
        font-size: 17px;
    }
    .yo_img{
        display: none;
    }
}

@media screen and (max-width:820px) {
    .yo_img{
        display: none;
    }
}

@media screen and (max-width:1024px) {
    .yo_img{
        display: none;
    }
}

.me {
    width: 300px;
}

.about_me{
    padding-top: 3rem;
}

.about_me p{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    background-color: #EEC8FA;
    border-radius: 20px;
    padding: 0.5rem;
}

.about_mef{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
}

.yo_img{
    border: 10px solid #BB9DC4;
    width: 300px;
    justify-self: flex-end;
}

.social_m{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.social_m img{
    width: 60px;
    cursor: pointer;
    border-radius: 50px;
    border: 5px solid #BB9DC4;
}

.social_m a{
    cursor:default;
}



@media screen and (max-width:768px){
    .about_mef{
        flex-direction: column;
    }

    .about_me p{
        font-size: 11px;
    }
    
    .social_m .facebook,.linkedin,.instagram {
        width: 40px;
    }
    .social_m {
        align-items:flex-end;
        justify-content: center;
    }
    .me{
        margin-left: 0px;
    }
    
}

@media screen and (max-width:1024px) {
    .about_mef{
        grid-template-columns: repeat(1,1fr);
    }

    .me{
        justify-self: center;
    }
}


.proyectsH{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


.proyects{
    display: flex;
    grid-template-columns: repeat(2,1fr);
    padding-top: 5px;
    justify-content: center;
}

.img_proyect{
    width: 350px;
    justify-content: center;
}

.img_proyect img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 10px solid #BB9DC4;
    transition: all 05s ease;
}

.proyects img:hover{
    width: 350px;
    transform: rotate(360deg);
}

@media screen and (max-width:768px){
    .img_proyect img{
    border: 5px solid #BB9DC4;
    height: 100px;
    width: 120px; 
}
.proyects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 1rem;
    padding-top: 5px;
    justify-items: center;
}
.img_proyect{
    width: 190px;
}

.proyects img:hover{
    width: 190px;
}

}

@media screen and (max-width:820px) {
    .img_proyect img{
        border: 4px solid #BB9DC4;
        height: 170px;
        width: 190px;
    }
    .img_proyect{
        width: 190px;
    }
}

@media screen and (max-width:1024px) {
    .img_proyect img{
        border: 4px solid #BB9DC4;
        height: 170px;
        width: 190px;
    }
    .img_proyect{
        width: 190px;
    }
}

.skillsH{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 1rem;
    padding-top: 5px;
}


.skills_f h2{
    padding-top: 10px;
    text-align: center;
}

.skills img{
    border: 10px solid #BB9DC4;
    width: 300px;
    transition: all 0.5s ease;
}
    
.skills img:hover{
    transform:scale(1.1);
}

@media screen and (max-width:768px) {
    .skills{
        justify-items: center;
    }
    .img_skill img{
        border: 5px solid #BB9DC4;
        width: 120px;
    }
}

@media screen and (max-width:820px) {
    .img_skill img{
        border: 5px solid #BB9DC4;
        width: 190px;
    }
    .skills{
        justify-items: center;
    }
}

@media screen and (max-width:1024px) {
    .img_skill img{
        border: 5px solid #BB9DC4;
        width: 190px;
    }
    .skills{
        justify-items: center;
    }
}

.contact_meF{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top:20px ;
}

#contact_form{
    background-color: #BB9DC4;
    border-radius: 20px;
    padding: 15px;

}

.form-control{
    margin-top: 20px;
}

#button{
    margin-top: 20px;
}

#contact_name:focus{
    outline: none;
}


.footer{
    background-color: black;
    width: 100%;
}

.footer p{
    color: #fff;
    margin: 0;
}


