@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

.back{
    background:rgba(0, 0, 0, 0.2) url(/scr/multimedia/imagenes/fondo_inm.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 800px;
    background-blend-mode:darken;
}

#nav{
    top: 0;
    left: 0;
    width: 100%;
}

#nav ul{
    text-align: right;
}

#nav li {
    display: inline-block;
}

html{
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #79B7F5;
    margin: 0;
}

.back,.leaded h1{
    text-decoration:underline;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.back,.leaded h2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.leaded h2{
    padding: 0.4rem; 
}

.container_line {
     width: 100%;
     display: flex;
     justify-content: center;
}

.about_me .line{
    display: inline-block;
    width: 5rem;
    height: 0.3rem;
    background: #EEC8FA;
}

.line{
    display: block;
    width: 30%;
    height: 0.3rem;
    background: #EEC8FA;
    margin-top: 20px;
}

h1{
    color: #EEC8FA;
    text-align: center;
    font-size: 70px;
    height: 3vh;
    font-family:'Roboto Mono', monospace;
    margin-top: 0;
}

h2{
    display: inline-block;
    background-color: #EEC8FA;
    color: #7667E0;
    text-align:center;
    font-family:'Roboto Mono', monospace;
}

.me{
    margin-left: 10px;
}

li a{
    display: block;
    color:#7063D6;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

li a:hover{
    background-color: #BB9DC4;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EEC8FA;
}

li{
    display: block;
    padding: 0px;
}

.active{
    background-color:#EEC8FA;
}

@media screen and (max-width:768px){
    #nav ul{
        text-align:left;
    }
    #nav{
        font-size: 20px;
        height: 100px;
    }

    .back,.leaded h1{
        font-size: 25px;
        
    }
    .back,.leaded h2{
        font-size: 17px;
    }
    .yo_img{
        display: none;
    }
}

@media screen and (max-width:820px) {
    .yo_img{
        display: none;
    }
}

@media screen and (max-width:1024px) {
    .yo_img{
        display: none;
    }
}

.about_me{
    padding-top: 3rem;
}

.about_me p{
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    background-color: #EEC8FA;
    border-radius: 20px;
    padding: 0.5rem;
}

.about_mef{
    display: flex;
    justify-content: center;
    width: 100%;
}

.yo_img{
    border: 10px solid #BB9DC4;
    width: 300px;

}

.social_m {
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: flex-end;
    justify-content: center;
}

.social_m img{
    margin-left: 70px;
    cursor: pointer;
}

.social_m a{
    cursor:default;
}

.social_m .facebook,.linkedin,.instagram {
    width: 60px;
    border-radius: 50px;
    border: 5px solid #BB9DC4;
    
}

@media screen and (max-width:768px){
    .about_mef{
        flex-direction: column;
    }

    .about_me p{
        font-size: 11px;
    }
    
    .social_m .facebook,.linkedin,.instagram {
        width: 40px;
    }
    .social_m {
        align-items:flex-end;
        justify-content: center;
    }
    .me{
        margin-left: 0px;
    }
    
}


.proyects_f{
    display: grid;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.proyects_f h2{
    width: 150px;
    padding-top: 10px;
}

.proyects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    padding-top: 5px;
}

.img_proyect1 img ,.img_proyect2 img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 10px solid #BB9DC4;
    transition: all 05s ease;
}

.proyects img:hover{
    width: 350px;
    transform: rotate(360deg);
}

@media screen and (max-width:768px){
    .img_proyect1 img ,.img_proyect2 img{
    border: 5px solid #BB9DC4;
    height: 100px;
    width: 120px; 
}
}

@media screen and (max-width:820px) {
    .img_proyect1 img ,.img_proyect2 img{
        border: 4px solid #BB9DC4;
        height: 170px;
        width: 190px;
    }
}

@media screen and (max-width:1024px) {
    .img_proyect1 img ,.img_proyect2 img{
        border: 4px solid #BB9DC4;
        height: 170px;
        width: 190px;
    }
}

.skills_f{
    display: grid;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.skills{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    column-gap: 1rem;
    padding-top: 5px;
}


.skills_f h2{
    width: 200px;
    padding-top: 10px;
}

.skills .img_skill7{
    grid-column: 2/3;
    
}

.skills img{
    border: 10px solid #BB9DC4;
    width: 300px;
    transition: all 0.5s ease;
}

.skills img:hover{
    transform:scale(1.1);
}

@media screen and (max-width:768px) {
    .skills{
        grid-template-columns: repeat(2,1fr);
    }

    .skills .img_skill7{
        grid-row: auto;
    }

    .img_skill1 img,.img_skill2 img,.img_skill3 img,.img_skill4 img,.img_skill5 img,.img_skill6 img,.img_skill7 img{
        border: 5px solid #BB9DC4;
        width: 120px;
    }
}

@media screen and (max-width:820px) {
    .img_skill1 img,.img_skill2 img,.img_skill3 img,.img_skill4 img,.img_skill5 img,.img_skill6 img,.img_skill7 img{
        border: 5px solid #BB9DC4;
        width: 190px;
    }
}

@media screen and (max-width:1024px) {
    .img_skill1 img,.img_skill2 img,.img_skill3 img,.img_skill4 img,.img_skill5 img,.img_skill6 img,.img_skill7 img{
        border: 5px solid #BB9DC4;
        width: 190px;
    }
}

.contact_me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#6497ca;
    font-family:'Roboto Mono', monospace;
    width: 350px;
}

.contact label{
    text-align: center;
}

.contact .text{
    border: 5px solid #BB9DC4;
    border-radius: 20px;
    resize: none;
}

.contact .button{
    
    border: 5px solid #BB9DC4;
    border-radius: 20px;
    background-color:#EEC8FA;
}

.button:hover{
    background-color:#ba96c5;
}

.footer{
    background-color: black;
    width: 100%;
}

.footer p{
    color: #fff;
    margin: 0;
}


