.contact_meF{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top:20px ;
}

#contact_form{
    background-color: #BB9DC4;
    border-radius: 20px;
    padding: 15px;

}

.form-control{
    margin-top: 20px;
}

#button{
    margin-top: 20px;
}

#contact_name:focus{
    outline: none;
}