@mixin telefono {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 820px) {
        @content;
    }
}
@mixin desktop {
    @media (max-width: 1024px) {
        @content;
    }
}