@use "../sass/mixins" as m;

.proyectsH{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.proyects{
    display: flex;
    grid-template-columns: repeat(2,1fr);
    padding-top: 5px;
    justify-content: center;
}

.img_proyect{
    width: 350px;
    justify-content: center;
    img{
        border-radius: 50%;
        width: 300px;
        height: 300px;
        border: 10px solid #BB9DC4;
        transition: all 05s ease;
    }
}

.proyects img:hover{
    width: 350px;
    transform: rotate(360deg);
}

@include m.telefono{
    
    .img_proyect{
        width: 190px;
        img{
            border: 5px solid #BB9DC4;
            height: 100px;
            width: 120px;
    }  
    }
    .proyects{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: 1rem;
        padding-top: 5px;
        justify-items: center;
    }
    
    .proyects img:hover{
        width: 190px;
    }
}

@include m.tablet{
    .img_proyect{
        width: 190px;
        img{
            border: 4px solid #BB9DC4;
            height: 170px;
            width: 190px;
        }
    }

        
}

@include m.desktop{
    .img_proyect{
        width: 190px;
        img{
            border: 4px solid #BB9DC4;
            height: 170px;
            width: 190px;
        }
    } 
}